<header class="header modal-blur">
  <h1 class="h1" [innerHtml]="content.title"></h1>
</header>
<div class="controls modal-blur">
  <p class="p time-tracker">Seat Time: {{ time }} seconds</p>
  <button class="button std" (click)="launchSampleModal()" [disabled]="!initialized">Show Modal Window</button>
  <button class="button std" (click)="loading ? hideLoader() : showSpinner()" [disabled]="!initialized">{{ loading ? 'Hide Current' : 'Show Spinner'}} Loader</button>
  <button class="button std" (click)="loading ? hideLoader() : showEllipsis()" [disabled]="!initialized">{{ loading ? 'Hide Current' : 'Show Ellipsis'}} Loader</button>
</div>
<page-viewer class="content-panel modal-blur" [ngClass]="currentPageClass" [history]="false">
  <page-template [id]="Page.Home" title="Home">
    <h2 class="h2">Overview</h2>
    <p class="p">Use this template to begin new web application development. The PageViewer module (rendering this text content) is meant to be the primary display driver, enabling smooth transitions between SPA display states/views.</p>
    <p class="p">This foundation is preloaded with a few of the frequently used components across all of our applications, including the aforementioned page viewer, loader animations, modal displays and engagement time tracking.</p>
    <p class="p">Also included are a set of LESS mixins for form elements and basic effects, and a library of utility functions that have been used frequently in our work.</p>
    <div class="buttons">
      <button (click)="viewer.setCurrentPage(Page.About)" class="button std">Component Documentation</button>
    </div>
  </page-template>
  <page-template [id]="Page.About" title="About">
    <h2 class="h2 wide"><a href="javascript:void(0)" (click)="viewer.setCurrentPage(Page.Home)">&larr;</a> EMS Component Documentation</h2>
    <div class="controls">
      <button class="button std" [disabled]="currentDoc === DocType.Utils" (click)="changeDoc(DocType.Utils)">EMS Utility Methods</button>
      <button class="button std" [disabled]="currentDoc === DocType.Loader" (click)="changeDoc(DocType.Loader)">Loader Animation</button>
      <button class="button std" [disabled]="currentDoc === DocType.Modal" (click)="changeDoc(DocType.Modal)">Modal Window</button>
      <button class="button std" [disabled]="currentDoc === DocType.PageViewer" (click)="changeDoc(DocType.PageViewer)">Page Viewer</button>
      <button class="button std" [disabled]="currentDoc === DocType.SeatTime" (click)="changeDoc(DocType.SeatTime)">Seat Time Tracker</button>
    </div>
    <iframe class="wide" [class.transitioning]="transitioning" [src]="currentDoc|safe:SanitizerType.ResourceUrl"></iframe>
  </page-template>
</page-viewer>

<ng-template #exampleModalTemplate>
  <div class="modal-header">
    <h2 class="h2">Example Modal Window</h2>
  </div>
  <div class="modal-body">
    <p class="p">We frequently use modals for configuration forms, secondary information, alerts and confirmations.</p>
    <p class="p">Keyboard trapping is enabled such that all interactive components behind the modal window are disabled and can't be accessed via tab key until the modal is dismissed. Clicking the ESC key will dismiss the modal and, unless explicitly prevented in the ModalData config, clicking outside the text box will also dismiss the window.</p>
  </div>
  <div class="buttons">
    <button class="button std" (click)="onCancelModal()">Close</button>
  </div>
</ng-template>

<modal class="modal" [transition-speed]="250" [z-index]="10001" background="rgba(255,255,255,0.25)"></modal>
<loader [transition-speed]="250" [animation-duration]="loaderDuration" [z-index]="10000" [size]="loaderSize" color="#0099ff" background="rgba(255,255,255,.25)" ></loader>
<tracker [time]="0" [interval]="1" [timeout]="60" (tick)="onSeatTimeUpdate($event)"></tracker>